* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
}
.container-fluid {
  background-color: var(--primary);
}

:root {
  /* --border: 2px solid black; */
  --primary: #172937;
  --secondary: #253644;
}

#avatar img {
  width: 50%;
}

@media (min-width: 768px) {
  #side-bar {
    position: sticky;
    top: 0;
  }
}
.name {
  font-weight: 900;
}

#side-bar-in {
  background-color: var(--secondary);
}
.details img {
  max-width: 50px;
}

.box-in img {
  max-width: 100%;
  height: auto;
  min-width: 30px;
}
.box,
.aboutme {
  font-size: 20px;
}
.container-fluid {
  color: white;
}

#year {
  background-color: #172937;
  width: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.wid-box{
  
  border-radius: 20px;

}
.linkedin{
  border-radius: 20px;
width: 100%;
height: 100%;
min-height: 200px;
/* border: 2px solid red; */
}

.YouTube{
  border-radius: 20px;
  width: 100%;
  height: 100%;

  overflow: hidden;
  min-height: 200px;

}
.YouTube iframe , .linkedin img {
  min-width: 100% ;
  max-height: 200px;
  border-radius: 30px;
}
.testimonial-heading {
  font-weight: 700px;
}
@media (max-width: 1050px) {
  .box,
  .aboutme {
    font-size: 16px;
  }
  #side-bar p {
    font-size: 12px;
  }
}
iframe {
  max-height: 200px;
}
.linkedin img {
  max-height: 200px;
}

.right-part {
  background-color: var(--secondary);
}
.box .row {
  background-color: var(--primary);
}

.social-links img {
  width: 50px;
}
@media (max-width: 600px) {
  .social-links img {
    width: 30px;
  }
  .details img {
    max-width: 40px;
  }
  .details h6 {
    font-size: 12px;
  }
  .year {
    font-size: 10px;
  }
  .box,
  .aboutme {
    font-size: 12px;
  }
  .box-in img {
    max-width: 130%;

    height: auto;
  }
}

@media (max-width: 450px) {
  .details img {
    width: 30px;
  }
  .details h6 {
    font-size: 12px;
  }
  .year {
    font-size: 10px;
    
  }
}

